storage/xmlschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Movies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Movie" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Name"/>
							<xs:element type="xs:short"  name="Year"/>
							<xs:element type="xs:string" name="IMDB_ID"/>
							<xs:element type="xs:string" name="Cover"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>